*{
    margin:0;
    padding: 0;
}

body{

    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    margin-bottom: 1px;
}

.container{
    border: 2px solid black;
    margin: 40px;
    height: 720px;
    width: 400px;
    background-color: blanchedalmond;
}

.container form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  
    
}

select{
    width: 361px;
    height: 35px;


}

.container form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}
 

.countries{
    margin-top: -10px;
}


input{
   height: 35px;
  
}

button{
   height: 25px;
}

p {
  color: red;
  font-size: 12px;
  margin: 5px 0 0 0;
}


